.THIS.container {
    background-color:token(bgclrGrn);
    padding:token(pndg);
    font-size:token(fntSize);
    color:token(clr);
}
.THIS.subContainer{
    background-color:token(bgclrRed);
    padding:token(pndg);
    font-size:token(fntSize);
    color:token(clr);
}