MSConnect Sandbox Credentials:
---
narendra.vatala@morganstanley.com.prod.msconnectd
V3*3


Reference Id's Tech Calls:
---
Internal Call [13PM] - 034475#
Onsite Tech Call [18PM] - 6621881#
2487229#

Emergency Tokens:
---
1	
2	729462
3	631163
4	733308
5	846954
6	718966
7	069730
8	557819
9	599593
10	829573
11	268006
12	442097
13	292285
14	662362
15	845771
16	726294
17	450075
18	284679
19	517439
20	491166

Valid upto 06-06-2021




Interview Questions:
---
Administration:
    Types of sandbox and differences
    What is sales and service cloud 
    What is record type
    Types of relations
    Diff b/w workflow and process builder
    Invokable annotation and limitation
    What is flow builder
    What is profile, permission sets, OWD, Sharing rules, Role Hierarchy
    Types of Reports
    What is bucket field 
    What is dynamic dashboard 
    What is order of execution
    What are the governar limits 
    What is translation workbench 
    What is custom labels, custom settings, custom metadata

Apex Programming
    Diff b/w list and set
    Diff b/w SOQL and SOSL 
    What are the events and context variables in trigger
    What is trigger best practise
    Can we call batch class and future method from trigger
    Can we call future method from another future method 
    Can we call batch class from another batch class 
    What is future method
    What are the methods in batch class
    What is stateful interface in batch class
    What is test class best practise

Visualforce:
    What are the controllers 
    What are the action tags 

Lightning:
    Diff b/w visualforce and lightning component  
    What are the files in component bundle 
    Diff b/w application and component event 
    What is Aura Method
    What is Data Service 
    What are the interfaces we have in lightning componenent 
    Diff b/w controller and helper in component bundle 

Data Migration & Deployments:
    What are the operations in data loader
    What are the exceptions we will get while working on data loader
    Diff b/w data loader and import wizard 

    Which type of deployment tools you have worked on





